@charset "utf-8";

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure,
footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {
    background: transparent;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
       background-color: rgb(233, 206, 232);
}

body { 
       background-color: rgb(147, 99, 162);
       font-family: 'Lucida Sans';
       line-height: 1;
       margin-left: auto;
       margin-right: auto;
       max-width: 960px;
       min-width: 640px;
       width: 95%;
}

/* Body Header Styles */

body > header > nav li {
       width: 33.33%;
}

header h1 {
       margin-bottom: 0;
       text-align: center;
       background-color: rgb(150, 116, 182);
}

nav {
       display: inline-block;
       width: 100%;
       margin: 0 auto;
       text-align: center;
}

nav ul li {
       margin-left: auto;
       margin-right: auto;
}

/* Header */

header {
       color:rebeccapurple;
}

h1 {
       color: rebeccapurple;
}

/* Navigation */

nav ul { 
       line-height: 2em;
       list-style-type: none;
       padding-left: 5px;
}

nav li {
       display: block;
       float: left;
}

nav a {
       text-decoration: none;
       display: block;
       text-align: center;
       background-color: rgb(147, 99, 162);
       font-size: 1.4em;
       line-height: 1.8em;
}

nav a:link,
nav a:visited{
       color: rgb(239, 220, 156);
}

nav a:hover,
nav a:active {
       background-color: rgb(72, 8, 72);
}

/* Section */

section#leftColumn p {
       color: rebeccapurple;
       font-size: 0.9em;
       line-height: 1.6em;
}

section#leftColumn {
    clear: left;
    float: left;
    padding: 1.5em;
    width: 63%;
    background-color: rgb(233, 183, 216);
    margin-right: 25px;
    color: rgb(5, 9, 1);
}

#leftColumn ol {
       padding-left: 25px;
}

#leftColumn img {
       display: block;
       width: 100%;
       padding-left: 15px;
}

section#rightColumn {
       float: right;
       clear: right;
       margin-top: 50px;
       width: 33%;
       color: rgb(60, 31, 63);
}

section#rightColumn img {
       display: block;
       width: 100%;
}

section#rightColumn p {
       color: rgb(60, 31, 63);
       font-size: 0.9em;
       line-height: 1.4em;
}

/* Footer */

footer {
       background-color: rgb(150, 116, 182);
       color: rgb(92, 40, 88);
       clear: left;
       line-height: 1.8em;
       margin: auto;
}

footer::after {
       clear: both;
       content: "";
       display: table;
}
